node_modules

/content/panorama/scripts/**/*.js
# Newly added lua files will be ignored. To add a new lua file, run:
# `git add --force path/to/file.lua`
/game/scripts/vscripts/**/*.lua


# Dota 2 stuff
*.bin
*.vcss_c
*.vxml_c
*.vtex_c
*.vjs_c
*.vpcf_c
*.vmat_c
*.vpk
*.vmdl_c
*.vmesh_c
*.vsndevts_c
*.vsnd_c
panorama_debugger.cfg
.vscode/settings.json
